.moviescardlist {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  background: #FFF;
}

.moviescardlist__list {
  display: grid;
  grid-template-rows:  238.3px;
  row-gap: 16.2px;
  justify-items: center;
  padding: 0;
  margin: 40.4px auto 11px;
  max-height: 1327px;
  overflow: hidden;
}

.moviescardlist__answer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 166px;
  margin: 0;
  background-color: #FFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.moviescardlist__text {
  margin: 60px auto 61px;
  display: none;
}

.moviescardlist__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  width: 240px;
  height: 36px;
  background-color: #FFF;
  border: 1px solid #E8E8E8;
  padding: 0;
  cursor: pointer;
  margin: 50px auto 61px;
}

.moviescardlist__button:active {
  background-color: #E8E8E8;
}

@media (min-width: 768px) {
  .moviescardlist__list {
    grid-template-columns: repeat(2, 339px);
    grid-template-rows: repeat(4, 269px);
    gap: 30px;
    margin: 60px auto 20px;
    max-height: 1136px;
  }

  .moviescardlist__button {
    width: 320px;
  }
}

@media (min-width: 1280px) {
  .moviescardlist__list {
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(4, 230px);
    column-gap: 20px;
    row-gap: 38px;
    margin: 70px auto 0;
    max-height: 1114px;
  }
}