.moviescard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 238.3px;
  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.moviescard__info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 14px;
}

.moviescard__title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  margin: 0;
}

.moviescard__duration {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #A0A0A0;
  margin: 9.1px 0 0;
}

.moviescard__button {
  display: block;
  position: absolute;
  top: 4.6px;
  right: 0;
}

.moviescard__button-save_active {
  background-image: url('../../images/saved_flag.svg');
  background-color: transparent;
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  border: none;
  cursor: pointer;
}

.moviescard__button-save {
  background-image: url('../../images/save_flag.svg');
  background-color: transparent;
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  border: none;
  cursor: pointer;
}

.moviescard__button-save:active {
  background-image: url('../../images/saved_flag.svg');
  transition: 0.6s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.moviescard__button-delete {
  background-image: url('../../images/delete.svg');
  background-color: transparent;
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  border: none;
  cursor: pointer;
  display: none;
}

.moviescard__button-delete:active {
  background-color: #A0A0A0;
  transition: 0.6s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.moviescard__link {
  width: 300px;
  height: 169.7px;
}

.moviescard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

@media (min-width: 768px) {
  .moviescard {
    flex-direction: column-reverse;
    width: 339px;
    height: 269px;
    background: #FFF;
    box-shadow: none;
  }
  
  .moviescard__info {
    margin: 14px 0 0;
  }
  
  .moviescard__title {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 29px;
    border-bottom: 1px solid #E8E8E8;
  }
  
  .moviescard__duration {
    margin: 6px 0 0;
  }
  
  .moviescard__button {
    top: 0;
  }
  
  .moviescard__button-save_active {
    background-image: url('../../images/saved_heart.svg');
    width: 24px;
    height: 24px;
  }
  
  .moviescard__button-save {
    background-image: url('../../images/save_heart.svg');
    width: 24px;
    height: 24px;
  }

  .moviescard__button-save:active {
    background-image: url('../../images/saved_heart.svg');
    transition: 0.6s;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  }
  
  .moviescard__button-delete {
    background-image: url('../../images/delete.svg');
    width: 24px;
    height: 24px;
    padding: 0;
    display: none;
  }
  
  .moviescard__link {
    width: 339px;
    height: 190px;
  }
}

@media (min-width: 1280px) {
  .moviescard {
    width: 270px;
    height: 230px;
  }
  
  .moviescard__button {
    top: -4px;
  }
  
  .moviescard__link {
    width: 270px;
    height: 151px;
  }
}