.promo {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #F5F5F5;
	border-radius: 10px;
	margin: 14px;
}

.promo__image {
	display: none;
}

.promo__title {
	font-style: normal;
	font-weight: 400;
	font-size: 29px;
	line-height: 37px;
	text-align: center;
	letter-spacing: -0.04em;
	color: #000;
	padding: 0;
	margin: 220px 0;
}

.promo__subtitle {
	display: none;
}

.promo__batton {
	display: none;
}

.promo__link {
	display: none;
}

@media (min-width: 460px) {
	.promo {
		background: #073042;
		margin: 0;
		outline: none;
		border-radius: 0%;
		margin-top: -1px;
	}

	.promo__image {
		display: block;
		width: 310px;
		height: 304px;
		margin: 140px 0 0;
	}

	.promo__title {
		font-style: normal;
		font-weight: 400;
		font-size: 40px;
		line-height: 50px;
		color: #FFF;
		width: 630px;
		height: 100px;
		margin: 48px 0 0;
	}

	.promo__subtitle {
		display: block;
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
		text-align: center;
		color: #FFF;
		mix-blend-mode: normal;
		opacity: 0.5;
		width: 260px;
		height: 32px;
		margin: 22px 0 0;
	}

	.promo__batton {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 129px;
		height: 36px;
		opacity: 0.6;
		border: 1px solid #FFF;
		border-radius: 3px;
		margin: 92px 0 86px;
	}

	.navtab {
		display: none;
	}

	.promo__link {
		display: inline-block;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: #FFF;
		text-decoration: none;
	}

	.promo__batton:active {
		background: #FFF;
	}

	.promo__link:active {
		color: #073042;
	}
}

@media (min-width: 1023px) {
	.promo {
		align-items: flex-start;
		position: relative;
	}

	.promo__image {
		position: absolute;
		top: 75px;
		right: 70px;
		margin: 0;
	}

	.promo__title {
		text-align: start;
		width: 600px;
		height: 174px;
		font-size: 50px;
		line-height: 58px;
		letter-spacing: normal;
		margin: 75px 0 0 70px;
	}

	.promo__subtitle {
		text-align: start;
		margin: 36px 0 0 70px;
	}

	.promo__batton {
		margin: 146px 0 75px 70px;
	}
}