.logo {
  max-height: 38px;
  cursor: pointer;
}

.logoGreen {
  display: none;
}

.logoBlack {
 display: block;
}

@media (min-width: 460px) {
  .logoGreen {
    display: block;
  }

  .logoBlack {
    display: none;
  }
}