.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	background-color: rgb(231, 120, 120);
	min-height: 74px;
}