.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #FFF;
	min-height: 74px;
	max-width: 1280px;
	padding: 0 14px;
}

@media (min-width: 768px) {
	.header {
		background-color: #073042;
		padding: 0 30px;
	}
}

@media (min-width: 1023px) {
	.header {
		padding: 0 70px;
	}
}


