.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: max-content;
	width: 100%;
	font-weight: 400;
  color: #000;
}

.aboutMe__title {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  margin: 70px 14px 0;
  padding: 0 0 28px;
  border-bottom: 1px solid #000;
  width: 91%;
}

.aboutMe__image {
  width: 292px;
  height: 352px;
  margin: 60px 14px 0;
  border-radius: 10px;
  object-fit: cover;
}

.aboutMe__name {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
  margin: 40px 14px 0;
}

.aboutMe__profession-age {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  margin: 20px 14px 0;
}

.aboutMe__info-text {
  font-size: 11px;
  line-height: 16px;
  margin: 20px 14px 0;
}

.aboutMe__contacts {
  display: flex;
  flex-direction: row;
  margin: 40px 14px 0;
  padding: 0;
  list-style: none;
}

.aboutMe__contact {
  width: max-content;
  padding: 0;
  margin: 0 13px 0;
}

.aboutMe__contact:first-child {
  margin-left: 0;
}

.aboutMe__profile {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000;
}

.aboutMe__profile:hover {
  color: #2BE080;
}

.aboutMe__portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: max-content;
  width: 100%;
}

.aboutMe__portfolio-title {
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
  mix-blend-mode: normal;
  margin: 70px 14px 0;
}

.aboutMe__list {
  display: flex;
  flex-direction: column;
  width: 91%;
  list-style: none;
  padding: 0 0 51px;
  margin: 20px 14px 0;
}

.aboutMe__item {
  border-bottom: 1px solid #E6E6E6;;
}

.aboutMe__item:last-child {
  border-bottom: none;
}

.aboutMe__item-title {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: #000;
  cursor: pointer;
}

.aboutMe__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

.aboutMe__link-arrow {
  width: 11px;
  height: 11px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .aboutMe__title {
    font-size: 22px;
    line-height: 27px;
    margin: 90px 50px 0;
    padding: 0 0 23px;
    width: 87%;
  }

  .aboutMe__image {
    width: 255px;
    height: 307px;
    position: absolute;
    top: 207px;
    right: 50px;
    margin: 0;
  }

  .aboutMe__name {
    font-size: 40px;
    line-height: 40px;
    margin: 66px 50px 0;
  }
  
  .aboutMe__profession-age {
    font-size: 12px;
    line-height: 18px;
    margin: 16px 50px 0;
  }

  .aboutMe__info-text {
    font-size: 12px;
    line-height: 18px;
    margin: 20px 50px 0;
    width: 364px;
  }

  .aboutMe__contacts {
    margin: 110px 50px 0;
  }

  .aboutMe__contact {
    margin: 0 20px 0;
  }
  
  .aboutMe__portfolio-title {
    font-size: 18px;
    margin: 91px 50px 0;
  }
  
  .aboutMe__list {
    padding: 0 0 71px;
    margin: 30px 50px 0;
  }
  
  .aboutMe__item-title {
    font-size: 28px;
    line-height: 50px;
  }
  
  .aboutMe__link-arrow {
    width: 27px;
    height: 27px;
  }

  .aboutMe__link {
    width: 98%;
  }
}

@media (min-width: 1023px) {
  .aboutMe__title {
    margin: 110px 70px 0;
  }

  .aboutMe__image {
    width: 270px;
    height: 327px;
    top: 227px;
    right: 70px;
  }

  .aboutMe__name {
    font-size: 50px;
    line-height: 58px;
    margin: 66px 70px 0;
  }
  
  .aboutMe__profession-age {
    font-size: 18px;
    line-height: 20px;
    margin: 18px 70px 0;
  }
  
  .aboutMe__info-text {
    font-size: 14px;
    line-height: 22px;
    margin: 26px 70px 0;
    width: 580px;
  }

  .aboutMe__contacts {
    margin: 99px 70px 0;
  }

  .aboutMe__portfolio-title {
    margin: 101px 70px 0;
  }
  
  .aboutMe__list {
    padding: 0 0 106px;
    margin: 30px 50px 0;
  }
  
  .aboutMe__item-title {
    font-size: 30px;
  }

  .aboutMe__link-arrow {
    width: 29px;
    height: 29px;
  }

  .aboutMe__link {
    width: 98%;
  }
}